# Django
*.pyc
__pycache__/
db.sqlite3
*.log
local_settings.py

# Environnement
.env
venv/
env/

# Médias uploadées
media/

# Statiques compilées
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
.dockerignore

.env
venv/
.venv/
db.sqlite3
staticfiles/
__pycache__/
*.pyc
.DS_Store
